# CMOR-CMIP6 cmor tables prototyping

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

import data_request as dr

In [3]:
df = dr.retrieve_data_request()  # read_csv("cordex-cmip6-data-request.csv")
df.to_csv("cordex-cmip6-data-request.csv", index=False)
df

,output variable name,units,ag,long_name,standard_name,priority,comments,frequency
0,tas,K,i,Near-Surface Air Temperature,air_temperature,CORE,NaN,mon
1,tas,K,i,Near-Surface Air Temperature,air_temperature,CORE,NaN,day
2,tas,K,i,Near-Surface Air Temperature,air_temperature,CORE,NaN,1hr
3,tasmax,K,NaN,Daily Maximum Near-Surface Air Temperature,air_temperature,CORE,maximum from all integrated time steps per day,mon
4,tasmax,K,NaN,Daily Maximum Near-Surface Air Temperature,air_temperature,CORE,maximum from all integrated time steps per day,day
...,...,...,...,...,...,...,...,...
582,rootd,m,NaN,Maximum Root Depth,root_depth,TIER2,NaN,fx
583,sftlaf,%,NaN,Percentage of the Grid Cell Occupied by Lake,lake_area_fraction,TIER2,not in CMIP or in CF,fx
584,sfturf,%,NaN,Percentage of the Grid Cell Occupied by City,urban_area_fraction,TIER2,not in CMIP or in CF,fx
585,dtb,m,NaN,Depth to Bedrock,bedrock_depth,TIER2,not in CMIP or in CF (lower boundary of land s...,fx
586,areacella,m2,NaN,Atmosphere Grid-Cell Area,cell_area,TIER2,NaN,fx

In [4]:
df["output variable name"].unique()

array(['tas', 'tasmax', 'tasmin', 'pr', 'evspsbl', 'huss', 'hurs', 'ps',
       'psl', 'sfcWind', 'uas', 'vas', 'clt', 'rsds', 'rlds', 'orog',
       'sftlf', 'ts', 'tsl', 'prc', 'prhmax', 'prsn', 'mrros', 'mrro',
       'snm', 'tauu', 'tauv', 'sfcWindmax', 'sund', 'rsdsdir', 'rsus',
       'rlus', 'rlut', 'rsdt', 'rsut', 'hfls', 'hfss', 'mrfso', 'mrfsos',
       'mrfsol', 'mrso', 'mrsos', 'mrsol', 'snw', 'snc', 'snd', 'siconca',
       'zmla', 'prw', 'clwvi', 'clivi', 'ua1000', 'ua925', 'ua850',
       'ua700', 'ua600', 'ua500', 'ua400', 'ua300', 'ua250', 'ua200',
       'va1000', 'va925', 'va850', 'va700', 'va600', 'va500', 'va400',
       'va300', 'va250', 'va200', 'ta1000', 'ta925', 'ta850', 'ta700',
       'ta600', 'ta500', 'ta400', 'ta300', 'ta250', 'ta200', 'hus1000',
       'hus925', 'hus850', 'hus700', 'hus600', 'hus500', 'hus400',
       'hus300', 'hus250', 'hus200', 'zg1000', 'zg925', 'zg850', 'zg700',
       'zg600', 'zg500', 'zg400', 'zg300', 'zg250', 'zg200', 'wa1000',
       'wa925', 'wa850', 'wa700', 'wa600', 'wa500', 'wa400', 'wa300',
       'wa250', 'wa200', 'ua50m', 'ua100m', 'ua150m', 'va50m', 'va100m',
       'va150m', 'ta50m', 'hus50m', 'evspsblpot', 'wsgsmax', 'clh', 'clm',
       'cll', 'rsdscs', 'rldscs', 'rsuscs', 'rluscs', 'rsutcs', 'rlutcs',
       'z0', 'CAPE', 'LI', 'CIN', 'CAPEmax', 'LImax', 'CINmax',
       'od550aer ', 'ua150', 'ua100', 'ua70', 'ua50', 'ua30', 'ua20',
       'ua10', 'va150', 'va100', 'va70', 'va50', 'va30', 'va20', 'va10',
       'ta150', 'ta100', 'ta70', 'ta50', 'ta30', 'ta20', 'ta10', 'hus150',
       'hus100', 'hus70', 'hus50', 'hus30', 'hus20', 'hus10', 'zg150',
       'zg100', 'zg70', 'zg50', 'zg30', 'zg20', 'zg10', 'wa150', 'wa100',
       'wa70', 'wa50', 'wa30', 'wa20', 'wa10', 'ua750', 'va750', 'ta750',
       'hus750', 'zg750', 'wa750', 'ua200m', 'ua250m', 'ua300m', 'va200m',
       'va250m', 'va300m', 'sftgif', 'mrsofc', 'rootd', 'sftlaf',
       'sfturf', 'dtb', 'areacella'], dtype=object)

In [5]:
def get_meta_info_by_frequency(out_name, frequency):
    return dr.get_all_variable_entries_by_attributes(
        out_name=out_name, frequency=frequency, how="all"
    )

In [6]:
get_meta_info_by_frequency("tas", "3hrPt")

{'CMIP6_3hr.json': {'tas': {'frequency': '3hrPt',
   'modeling_realm': 'atmos',
   'standard_name': 'air_temperature',
   'units': 'K',
   'cell_methods': 'area: mean time: point',
   'cell_measures': 'area: areacella',
   'long_name': 'Near-Surface Air Temperature',
   'comment': 'near-surface (usually, 2 meter) air temperature',
   'dimensions': 'longitude latitude time1 height2m',
   'out_name': 'tas',
   'type': 'real',
   'positive': '',
   'valid_min': '',
   'valid_max': '',
   'ok_min_mean_abs': '',
   'ok_max_mean_abs': ''}}}

In [7]:
for table in dr.create_cmor_tables(df, groupby="frequency").values():
    dr.table_to_json(table)

writing: CORDEX-CMIP6_1hr.json
writing: CORDEX-CMIP6_6hr.json
writing: CORDEX-CMIP6_day.json
writing: CORDEX-CMIP6_fx.json
writing: CORDEX-CMIP6_mon.json

In [8]:
for table in dr.create_cmor_tables(df, groupby=["priority", "frequency"]).values():
    dr.table_to_json(table)

writing: CORDEX-CMIP6_CORE_1hr.json
writing: CORDEX-CMIP6_CORE_day.json
writing: CORDEX-CMIP6_CORE_fx.json
writing: CORDEX-CMIP6_CORE_mon.json
writing: CORDEX-CMIP6_TIER1_1hr.json
writing: CORDEX-CMIP6_TIER1_6hr.json
writing: CORDEX-CMIP6_TIER1_day.json
writing: CORDEX-CMIP6_TIER1_mon.json
writing: CORDEX-CMIP6_TIER2_1hr.json
writing: CORDEX-CMIP6_TIER2_6hr.json
writing: CORDEX-CMIP6_TIER2_day.json
writing: CORDEX-CMIP6_TIER2_fx.json
writing: CORDEX-CMIP6_TIER2_mon.json